# Entornos virtuales
venv/
.venv/
env/

# Archivos de configuración privados
.env

# Cachés de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Configuración de VS Code
.vscode/

# Archivos del sistema
*.log
*.sqlite3
